.CardInfoInput {
  display: flex;
  flex-direction: column;

  padding: 5px 35px;
}

.CardInfoInput .CardList {
  width: 100%;
  display: flex;
  align-items: center; /* 세로축 가운데 정렬 */
  justify-content: center; /* 가로축 가운데 정렬 */
}

.CardInfoInput section input {
  border: none;
  border-radius: 5px;
  background-color: #eee;
  padding: 8px 8px;
  margin: 0;
  font-size: 24px;
}

.CardInfoInput section > p {
  font-size: 14px;
  margin-bottom: 8px;
  color: #555;
}

.CardInfoInput section {
  display: flex;
  flex-direction: column;
}

.CardInfoInput .CardNum {
  width: 100%;
  flex: 1;
}
.CardInfoInput .CardNum .CardNumInput {
  text-align: center;
}
.CardInfoInput .CardNameInfo {
  display: flex;
  justify-content: space-between;
}
.CardInfoInput .CardDateInput {
  width: 40%;
  text-align: center;
}

.CardInfoInput .CardCodeNum {
  width: 30%;
}

.CardInfoInput .CardPwd {
  display: flex;
  gap: 10px;
  text-align: center;
}

.CardInfoInput .CardPwd1 {
  width: 10%;
  text-align: center;
  font-size: 24px;
}

.CardInfoInput .CardPwd2 {
  width: 10%;
  text-align: center;
  font-size: 24px;
}

.CardInfoInput .CardPwd > div {
  font-size: 24px;
  margin-left: 20px;
}

.CardInfoInput .CardCode {
  display: flex;
  gap: 8px;
  align-items: center;
}

.CardInfoInput .CardCode .material-icons {
  font-size: 36px; /* 아이콘 크기 (기본은 24px) */
  cursor: pointer;
  color: #ddd; /* 아이콘 색상 (선택) */
}

.btn-complete {
  color: white;
  background-color: black;
  padding: 10px 10px;
  text-align: center;
  border-radius: 10px;
  margin: 20px 0px 0px 0px;
  cursor: pointer;
}
