.Card {
  background-color: #333;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  color: white;
  width: 250px;
  height: 150px;

  margin: 10px auto;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}

.Card .goldChip {
  position: absolute;
  left: 20px;
  top: 37%;
  width: 45px;
  height: 30px;
  border-radius: 5px;
  background-color: #d2c725;
}

.Card .cardInputInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Card .cardInputInfo .cardNumber {
  position: absolute;
  font-size: 18px;
  bottom: 38px;
  letter-spacing: 2px;
}

.Card .cardInputInfo .cardBottom {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 85%;
  bottom: 20px;
}
