.HeaderPay {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 35px 35px;
}

.leftGroup {
  display: flex;
  align-items: center;
}

.material-icons {
  cursor: pointer;
  font-size: 28px;
}

.title {
  font-size: 18px;
}

/* leftChild가 없을 경우 타이틀 왼쪽 정렬되도록 */
.title.noLeft {
  margin-left: 0;
}

.leftGroup.noLeftChild .title {
  margin-left: 0;
}

.leftGroup:not(.noLeftChild) .title {
  margin-left: 8px; /* chevron 아이콘과 간격 */
}
