body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}

header,
.info,
.product-list {
  max-width: 480px; /* 최대 넓이 제한 */
  width: 100%; /* 모바일에서 가득 차도록 */
  margin: 0 auto; /* 가운데 정렬 */
  padding: 0 1rem; /* 좌우 여백 */
}
